/******************

ANIMATION CHARGEMENT

******************/

.loadingTree {
  position: fixed;
  z-index:1000;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #FFFFFF;
}

img.imgtree {
  position: fixed;
  z-index: 1001;
  width: 40%;
  height: auto;
  bottom: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: bottom;
}

.emptyDiv {
  position: fixed;
  z-index: 1002;
  background-color: white;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
}

/***********

  GÉNÉRAL

***********/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'dosis', 'helvetica', 'arial', sans-serif;
}

@font-face {
  font-family:"Big Bimbo NC";
  src: url("fonts/Big_Bimbo_NC.eot") format("eot"),
       url("fonts/Big_Bimbo_NC.woff") format("woff"),
       url("fonts/Big_Bimbo_NC.ttf") format("truetype"),
       url("fonts/Big_Bimbo_NC.svg#BigBimboNC") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family : "Alamain1";
  src: url("fonts/alamain1.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h5 {
  font-family: 'big bimbo nc';
}

/***************************

          NAVBAR

***************************/

.title-bar, .top-bar, .top-bar ul {
  background: #fff;
}

.title-bar button {
  background-color: #000;
}

.title-bar-title {
  color: #000;
}

.top-bar-left {
  margin: 0;
  padding: 0;
  height: 40px;
}

.top-bar img {
  height: 40px;
  width: auto;
  margin-top: 0px;
}

.dropdown.menu li {
  transition: 0.4s;
}

.dropdown.menu > li > a {
  padding: 0 10px;
  line-height: 50px;
  text-transform: uppercase;
}

.dropdown.menu > li:not(.selected) a {
  color: #90cbb0
}

.top-bar-right .dropdown.menu > li:hover, .selected {
  background: #90cbb0;
}

.dropdown.menu > li:hover > a, .selected a {
  color: #fff;
}

.top-bar {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
}

/***************************

          HEADER

***************************/

header#header {
  background-image: url('../images/paris.svg');
  background-size: cover;
  background-repeat: repeat-x;
  height: 526px;
  position: relative;
  text-align: center;
  background-position: center;
}

header#header h1 {
  text-align: center;
  font-family: 'big bimbo nc', 'dosis';
  display: inline-block;
  color: #FFF;
  background: #90cbb0;
  margin-top: 60px;
  padding: 0 10px;
  border-radius: 4px;
  width: auto;
  max-width: 1170px;
}

header#header h1 br {
  display: none;
}

header#header #truckContainer {
  position: absolute;
  height: 300px;
  max-width: 75%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

header#header #truckContainer div {
  position: relative;
  margin: 0 auto;
  height: 300px;
  width: 500px;
}

header#header #truck {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  height: auto;
  -webkit-animation-name: shake;
	-webkit-animation-duration: 1.3s;
	-webkit-transform-origin: 0% 5%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@media screen and (max-width: 1336px) {
  header#header h1 br {
    display: inline;
  }
}

@media screen and (max-width: 40em) {
  header#header {
    height: 400px;
  }

  header#header h1 {
    width: 80%;
  }

  #truckContainer, #truckContainer div, #truckContainer img {
    max-height: 250px;
    max-width: 100%;
  }
}

@media screen and (max-width: 410px) {
  #truckContainer, #truckContainer div, #truckContainer img {
    max-height: 160px;
  }

  iframe {
    height: 300px;
  }
}


/***************************

            MAIN

***************************/

div.divider{
  height: 10px;
  background: #90cbb0;
}

section{
  padding: 30px 0;
  background: #fff;
  text-align: center;
}

section#where {
  background: url("../images/cocotierBG.png");
}

section h1{
  font-family: 'Big Bimbo NC';
  color: #001623;
  margin-bottom: 20px;
}

section:nth-child(2n) h1, section:nth-child(2n) p{
  color: #fff;
}

div#activites {
  text-align: center;
}

div#activites > .itemAct{
  margin: 10px 0;
}

div#activites > .itemAct > div > img{
  height: 170px;
  padding: 15px;
}

.informationsAct h4 {
  font-family: 'big bimbo nc';
}

.informationsAct p {
  font-size: 20px;
}

.informations h2 {
  font-family: 'big bimbo nc';
}

.informations h4 {
  font-family: 'dosis';
}

main div#activites div.activite > h4 {
  text-align: center;
  position: absolute;
  z-index: 99;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  font-family: 'dosis';
  margin: 0px;
  width: 100%;
}

main section#humanitaire {
  background: url("../images/ESF.jpg");
  background-size: cover;
}

main #hashtag {
  background-color: #90cbb0;
  border-radius: 2px;
  padding: 6px;
  color: #001623;
  margin: 0 5px;
}

.maSlide {
  position : relative;
  height: 400px;
  overflow: hidden;
}

.maSlide > img {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.maSlide > .informations {
  color: white;
  font-family: 'dosis';
  position : absolute;
  bottom : 0;
  padding: 0;
  height: 100px;
  width: 100%;
  background : rgba(144, 203, 176, 0.7);
  transition: 0.4s;
}

.maSlide > .informations:hover, .maSlide > img:hover + .informations {
  padding: 150px 0;
  height: 100%;
}

.maSlide > .informations > h4:nth-child(2n+1){
  position: absolute;
  bottom: -80px;
  left: 0;
  text-align: center;
  width: 100%;
  transition: 0.4s;
  font-size: 30px;
}

.maSlide > .informations:hover > h4:nth-child(2n+1), .maSlide > img:hover + .informations > h4:nth-child(2n+1){
  bottom: 10px;
}

iframe {
  border-style: none;
}

#g1{
  height: 250px;
  margin: 0 auto;
  font-family: 'dosis';
}

section#linkPages > div > div{
  text-align: center;
  margin: 50px 0;
}

section#linkPages > div > div > a{
  color: #fff;
  background: #001623;
  font-family: 'dosis';
  padding: 10px;
  border-radius: 5px;
  border-bottom: solid 0px #001623;
  transition: 0.4s;
}

section#linkPages > div > div > a:hover{
  background: #90cbb0;
  color: #001623;
  border-bottom: solid 5px #001623;

}

footer{
  background: #001623;
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
}

footer img{
  height: 30px;
  margin: 0px 10px;
}

footer h3{
  font-size: 20px;
  padding-top: 40px;
  font-family: 'dosis';
}

/**********************

      PRODUITS

**********************/

.fondBois {
  background: url('../images/fondBois.jpg');
  background-size: cover;
  padding: 30px 0;
}

.fondBois h1 {
  text-align: center;
}

.produit h3 {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.gamme {
  display: block;
}

.produit {
  float: left;
  width: 25%;
  margin: 0 auto;
}

#fabrication {
  text-align: center;
  margin-top: 20px;
}

#fabrication > div {
  position: relative;
  vertical-align: top;
}

#fabrication img {
  width: 100%;
}

#fabrication p {
  text-align: left;
}

#fabrication .question {
  background: #90cbb0;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  position: absolute;
  top: 0;
}

/****************************

      PAGE CULTURE COCO

*****************************/

@font-face {
    font-family: "Big Bimbo";
    src: url("fonts/Big Bimbo NC.ttf");
}
.listTitle{
  font-family: "Big Bimbo";
  font-size: 40px;
  text-align: center;
  color: #ed237a;
}

@font-face {
    font-family: "vaivai";
    src: url("fonts/Vaivai Handwritting Regular Mac.ttf");
}

li.fact {
    font-family: "vaivai";
    line-height: 36px;
    font-size: 33px;
    margin: 0px;
    margin-top: -60px;
	padding: 36px 0 36px 50px;
	list-style: none;
	background-image: url("coconut_ul.gif");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
}

span.highlighted{
  color: #ed237a;
}

h3.adecouvriraussi{
  border: none;
  background-color: #ed237a;
  height: 1px;
  width: 100%;
  text-align: center;
}

.catchphrase{
  font-family: "dosis";
  text-align: center;
  margin-top: 40px;
}

/*******************

    ANIMATION

*******************/

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
