body {
  margin: 0;
  padding: 0;
}

.top-bar img {
  height: 30px;
  width: auto;
}

h1 {
  text-align: center;
  font-family: 'dosis';
  text-shadow: 1px 2px 3px rgba(0,0,0, 0.2);
  color: #57a07d;
}

header#header {
  background-image: url('../images/paris.svg');
  background-size: cover;
  background-repeat: repeat-x;
  height: 526px;
  position: relative;
  text-align: center;
}

header#header h1 {
  padding-top: 50px;
}

header#header #truck {
  position: absolute;
  bottom: 0;
  width: 500px;
  height: auto;
  margin-left: -250px;
}
